body{
    background-color:#f5f7fa;
}

.navbar-brand{
    font-weight:bold;
}

.container-box{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.center-box{
    max-width:500px;
    margin:auto;
    margin-top:80px;
}